@model Student

@{
    ViewData["Title"] = "StudentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StudentDetails</h1>
Name:@Model.Name
<br />
Rollno=@Model.RollNo
<br />
M1:=@Model.M1
<br />
M2=@Model.M2
<br />

