@model NewProjectCreate.Models.Register
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
<style>


	h1 {
		color: white
	}
</style>
<h1>Register</h1>

<h1>@Model.Name;</h1>
<br />
<br />
<h1>@Model.Email;</h1>
<br />
<br />
<h1>@Model.Password ;</h1>
<br />
<br />
