@model TemplateAdding.Models.Register
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    

    h1 {
        color: white
    }
</style>
<h1>Register</h1>

<h1>@Model.Name;</h1><br/><br/>
<h1>@Model.Birthdate;</h1><br/><br/>

